<% provide(:page_title, 'Resend confirmation instructions')  %>

<div class="row" id="account_notification">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="signup-panel">
                <div class="panel panel-default">
                    <div class="panel-heading" style="height:52px">
                        <div class="account-panel-title">Resend confirmation instructions</div>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <%= form_for(resource, as: resource_name, url: user_confirmation_path, html: { method: :post }) do |f| %>
                            	<%= devise_error_messages! %>
                                <div class="account-profile-field">
                                    <div class="login-profile-label"><label class=""><%= f.label :email %></label></div>
                                    <div class="account-profile-input"><%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), :required => true, :tabindex => "1" %></div>
                                </div>
                       			<div>
                                    <br />
                                    <%= f.submit "Resend confirmation instructions", :class => "btn btn-success login-button", :tabindex => "4" %>
                                    <br />
                                    <br />
                                    <%= render "users/shared/links" %>

                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
