<div class="row row-comment" id = "comment-<%= @comment.id %>">
	<div class="user-comment">
		<div class = "user-initials"><%= User.user_name_initials(@comment.user.name).second %>
        </div>
		<div class = "comment-maker">
			<a href="#"></a>  <span class = "comment"><%= @comment.content.to_s %></span><br>
			<div class = "comment-create-date"><%= time_as_ago_calculation(@comment.created_at) %> &#8226; <%= link_to "Edit", edit_organisation_box_article_comment_url(@organisation, @comment.article.box, @comment.article, @comment), :remote => true  %> &#8226; <%= link_to 'Delete', organisation_box_article_comment_url(@organisation, @comment.article.box, @comment.article, @comment), :data => { :confirm => "Are you sure you want to delete the comment?" }, :method => :delete, :remote => true  %></div>
		</div>
	</div>
</div>