<p>Hi,</p>
<p>A new feedback has been received.</p>
<p>Username: <b><%= @sender_email%></b><br> 
 Organisation: <%= @sender_organisation%><br> 
 Browser Information: <%= @browser_info%><br> 
 OS: <%= @user_agent%><br>
 Message: <%= @sender_feedback %></p> 

<p>Regards,<br />
Team Information Box</p>

<br><br>
<div class = "mail-footer" style = "color: #A1A1A1;">
	<hr>
	You're receiving this email because at some point in time you signed up for or you have beed added in <a href="informationbox.herokuapp.com" target="_blank">Information Box</a>.<br> 
	Copyright © <a href = "http://informationbox.herokuapp.com">Information Box</a>. All rights reserved. </p>
</div>