<nav id="app-navbar" class="navbar navbar-default navbar-fixed-top header-nav hidden-xs" role="navigation">
  <!-- current organisation dashboard link-->
  <div class="navbar-brand">
    <%= link_to 'Information Box', get_root_path, :class => "current-organisation-name" %>
  </div>
  <% if user_signed_in? %>
    <!-- header search form-->
    <%= form_tag("article_search_path(@organisation)", :class => "navbar-form navbar-left", :role => "search", :method => "get") do %>
        <div class="input-group" >
           <%= text_field_tag :query, params[:query], :class => "form-control" , :autocomplete => "off", :placeholder => "Search" %>
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span> </button>
            </div>
        </div>
    <% end %>  
    <ul class="nav navbar-nav navbar-right navbar-user pull-right">
      <!-- Boxes switcher-->
      <li id="dropdownliCID" class="organisation-action dropdown">
        <a id="dropdownaCID" href="#" class="dropdown-toggle" data-toggle="dropdown">Boxes <span class="caret"></span> </a>

        <ul class="dropdown-menu">
          
          <% @organisation.boxes.each do |box| %>
            <li class = "org-box"><%= link_to box.name, organisation_box_url(@organisation, box) %></li>
            <li class="divider"></li>
          <% end %>
          <% if get_user_permission_for_action('boxes_new') && @article.nil? %>
            <li><%= link_to 'Create Box', '#', "data-toggle" => "modal", "data-target"=> "#box-form-modal" %></li>
          <% end %>  
          <li><%= link_to 'See all Boxes', organisation_url(@organisation) %></li>    
        </ul>
      </li>
  
      <!-- User & organisation options-->
      <li id="dropdown" class="dropdown">
        <a href="#" id="dropdownaCID" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name.titleize %><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <!-- header user options recent boxes & Favourite articles link -->
            <!--<li class="dropdown-header"><%= current_user.name %></li>
            <li><%#= link_to 'Recent Boxes', user_recent_boxes_path %></li>
            <li><%#= link_to "Favourite Articles", user_favourite_articles_path %><span class="right-caret"></span></li>-->
                    
          <li class="dropdown-header">Account</li>
          <li><%= link_to 'Profile', edit_user_registration_url %></li>
          <% if is_current_user_admin_or_owner? %>
            <li class="dropdown-header">Organisation</li>
            <li><%= link_to 'Settings', edit_organisation_path(@organisation) %></li>
            <li><%= link_to 'People', people_organisation_path(@organisation) %></li>
            <li><%= link_to 'Roles', organisation_roles_path(@organisation) %></li>
          <% end %>
          <li class="divider"></li>        
          <li><%= link_to 'Sign Out', destroy_user_session_path, :method => 'delete' %></li>
        </ul>
      </li>       
    </ul>
    <script type="text/javascript"> 
      $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      })
    </script>
    <%= render 'user_invitations/org_invitation_form'%>
    <%= render 'boxes/form_modal' %>
  <% end %>
</nav>



