<% provide(:organisation_title, organisation_name_fetch) %>
<!DOCTYPE html>
<html>
	<head>
  	    <title><%= raw(full_title(yield(:page_title), yield(:box_title), yield(:organisation_title))) %></title>
  		
  		<%= stylesheet_link_tag    "application" %>
      
  		<%= stylesheet_link_tag    "//fonts.googleapis.com/css?family=Lato:100,100italic,light,lightitalic,regular,regularitalic,bold,bolditalic,900,900italic" %>
  		<%= javascript_include_tag "application" %>
  		

  		<%= csrf_meta_tags %>
  		<%= tinymce_assets %>
      <%= render 'layouts/user_feedback_modal'%>
      <!--<script type="text/javascript" src="//jira.mantraventures.com/s/en_US-cjyzvn-1988229788/6105/3/1.4.0-m3/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=f86c6c66"></script>-->
      
	   
    </head>
    <body>

    <%= link_to 'feedback', '#', "data-toggle" => "modal", "data-target"=> "#user-feedback", :class => "user-feedback-button" %> 
    <%= render 'layouts/user_feedback_modal'%>
    <%= render 'application_bugs/form_modal'%>
    <%= link_to 'Raise a Bug', '#', "data-toggle" => "modal", "data-target"=> "#bug-form-modal", :class => "application-bug-raise-button" %>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash_message_template' %>
    <%= yield %>
	  <script type="text/javascript">
      $(".alert").alert()
    </script>
  </body>
</html>

